<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>注销公司</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/jquery.waypoints.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link rel="stylesheet" type="text/css" href="css/logout.css">
		<link rel="stylesheet" href="css/animate/animate.min.css">
	</head>

	<body>
		<div id="app">
			<!-- 网站导航 -->
			<div class="pubHeader">
				<include src="header.html"></include>
			</div>

			<div class="pubHeadBanner">
				<include src="headBanner.html"></include>
			</div>
			
			<!-- 右侧固定图标 -->
			<include src="Rfixd.html"></include>

			<!-- 需求资料 -->
			<div class="logoutBox1 pdb100">
				<div class="w1200">
					<div class="pubTitle center">
						<div class="title fs30 center"><span class="xian left"></span><em>需求资料</em><span class="xian right"></span></div>
						<p>公司注销首选缔元财税</p>
					</div>
					<div class="cont clearfix">
						<div class="item LL fl">
							<div class="topTit">
								<img class="num" src="images/zhuxiao-icon13.png" alt="">
								<h1>税务注销公司</h1>
								<h2>-Tax</h2>
							</div>
							<p>必须是实名采集过信息的人</p>
							<p>简易注销登记（没票没盘的当天注销当天拿着清税证明）</p>
							<p>一般注销登记（有票有盘的专管员要查账，一般20个工作日内）</p>
							<p>以上两种方式需要带的资料一样：</p>
							<P>［1.营业执照正副本原件。2.发票领购簿和未使用的发票（没领购发票的不提供）。3.股东会决议原件及复印件。4.清算报表、所得税年报表、季报表（增值税，企业所得税、无所得税税种不提供）。5.金税盘（没有金税盘的不提供）。6.公章］</P>
						</div>
						<div class="item RR fr">
							<div class="topTit">
								<img class="num" src="images/zhuxiao-icon14.png" alt="">
								<h1>工商注销需要准备的资料</h1>
								<h2>—Industry And Commerce</h2>
							</div>
							<p>《企业简易注销登记申请书》；</p>
							<p>《全体投资人承诺书》(强制清算终结的企业提交人民法院终结强制清算程序的裁定,破产程序终结的企业提交人民法院终结破产程序的裁定)；</p>
							<p>营业执照正、副本；</p>
							<p>企业公章；</p>
							<p>企业所有股东身份证复印件；</p>
							<p>法人及经办人身份证复印件、电话；</p>
							<p>国、地税注销完后的“清税或完税通知书（证明）；</p>
							<P>注销公告报纸</P>
							<div class="TipsTex"><em class="red">注意：</em>（以上8点均是工商一般注销所需资料，简易注销资料只需前6个即可）</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 变更流程 -->
			<div class="logoutBox2 pdb100 bjgayf5">
				<div class="w1200">
					<div class="pubTitle center">
						<div class="title fs30 center"><span class="xian left"></span><em>注销流程</em><span class="xian right"></span></div>
						<p>交给缔元财税，一切就是这么简单</p>
					</div>
					<div class="clearfix center">
						<div class="item">
							<img class="icon" src="images/zhuxiao-icon.png" alt="">
							<span class="xian"><em class="yuan"></em></span>
							<h1>在线咨询</h1>
							<p>通过在线客服、400电话进行简单沟通</p>
						</div>
						<div class="item">
							<img class="icon" src="images/zhuxiao-icon1.png" alt="">
							<span class="xian"><em class="yuan"></em></span>
							<h1>了解情况</h1>
							<p>专业人员了解现在的税务情况</p>
						</div>
						<div class="item">
							<img class="icon" src="images/zhuxiao-icon2.png" alt="">
							<span class="xian"><em class="yuan"></em></span>
							<h1>签约派单</h1>
							<p>评估情况签订注销合同并快速派单</p>
						</div>
						<div class="item">
							<img class="icon" src="images/zhuxiao-icon3.png" alt="">
							<span class="xian"><em class="yuan"></em></span>
							<h1>资料对接</h1>
							<p>24小时内专人上门对接相关资料</p>
						</div>
						<div class="item">
							<img class="icon" src="images/zhuxiao-icon4.png" alt="">
							<span class="xian"><em class="yuan"></em></span>
							<h1>注销完成</h1>
							<p>专职专业财务人员服务完成注销</p>
						</div>
					</div>
				</div>
			</div>

			<!-- 注销类型 -->
			<div class="logoutBox3 pdb100 bjgayf5 white oh">
				<div class="w1200">
					<div class="pubTitle center">
						<div class="title fs30 center"><span class="xian left"></span><em>注销类型</em><span class="xian right"></span></div>
						<p>科学的服务流程，严谨的服务态度，专业的服务内容，为您企业保驾护航</p>
					</div>
					<div class="clearfix center">
						<div class="item" v-for="(item,index) in zhuxiaoData" :key="index">
							<img class="icon  animated fadeInDown" :src="item.iconUrl" alt="">
							<h1 class="animated fadeInUp">{{item.title}}</h1>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 不注销危害 -->
			<div class="logoutBox4 w1200 pdb100">
				<div class="pubTitle center">
					<div class="title fs30 center"><span class="xian left"></span><em>不注销危害</em><span class="xian right"></span></div>
					<p>你的专利，我们贴心保障</p>
				</div>
				<div class="cont">
					<ul class="clearfix">
						<li><em style="background: #fd5f5f;">1</em>被列入黑名单的企业的法定代表人、负责人，不得担任其他企业的法定代表人、负责人；</li>
						<li><em style="background: #ef6be1;">2</em>企业不按法律流程注销，增加财务成本，增加涉税风险；</li>
						<li><em style="background: #46d36b;">3</em>法定代表人，负责人无法办理护照、移民、出境；无法在高档场所消费，乘坐高铁、飞机等；</li>
						<li><em style="background: #5660e6;">4</em>影响企业的法定代表人、负责人子女报考公务员且不能贷款买房等；</li>
						<li><em style="background: #ffae13;">5</em>公司进入工商信用网黑名单、法人、股东、监事所有对外申办业务全部限制。</li>
						<li><em style="background: #10a2e4;">6</em>不能注册公司，影响公司融资上市。</li>
					</ul>
				</div>
			</div>
			
			<!-- 选择缔元 -->
			<div class="logoutBox5 pdb100">
				<div class="w1200">
					<div class="pubTitle center">
						<div class="title fs30 center"><span class="xian left"></span><em>选择缔元</em><span class="xian right"></span></div>
						<p>5家直属分支机构，2000+客户的共同选择</p>
					</div>
					<div class="cont">
						<ul class="clearfix">
							<li>
								<div class="num">01</div>
								<h1>费用合理</h1>
								<p>与同行相比，淘钉智能财税办理价格合理，透明化，同等价格服务优质化</p>
							</li>
							<li>
								<div class="num">02</div>
								<h1>节约时间</h1>
								<p>一站式全程注销服务，省时省事，专业人员服务，节约时间，告诉快捷</p>
							</li>
							<li>
								<div class="num">03</div>
								<h1>规避风险</h1>
								<p>专业规避风险，降低损失发生机率，降低损失程度，提高收益</p>
							</li>
							<li>
								<div class="num">04</div>
								<h1>流程简单</h1>
								<p>专属淘钉一站式服务，服务流程快捷简单，及时准确保障业务安全进行</p>
							</li>
							<li>
								<div class="num">05</div>
								<h1>跟踪服务</h1>
								<p>售后客服随时关注办理进度与客户互动，进度及时告知，全程跟踪监督</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 常见问题 -->
			<div class="logoutBox6 pdb100 center">
				<div class="w1200">
					<div class="pubTitle center">
						<div class="title fs30 center"><span class="xian left"></span><em>常见问题</em><span class="xian right"></span></div>
						<p>你想要的都在这里</p>
					</div>
					<div class="cont clearfix">
						<div class="item" v-for="(item,index) in problemData" :key="index">
							<div class="icon"><span>问题</span></div>
							<p>注销公司多少钱？</p>
						</div>
					</div>
				</div>
			</div>

			<!-- 缔元财税，专业顾问，一站式一对一服务 -->
			<include src="questionSubmit.html"></include>

			<!-- 页脚 -->
			<include src="footer.html"></include>
		</div>
	</body>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					is_toggle: false,
					is_show: false,
					wx_show: 2,
					bookLis: [{
							iconUrl: "images/company-changes-icon13.png",
							title: "快速快",
							text: "最快只需5天"
						},
						{
							iconUrl: "images/company-changes-icon14.png",
							title: "费用少",
							text: "1000元起，比同行节省30%"
						},
						{
							iconUrl: "images/company-changes-icon15.png",
							title: "服务好",
							text: '精细服务，提高办理效率'
						}
					],
					youshiData: [{
							iconUrl: "images/company-changes-icon18.png",
							title: "经验",
							text: "10年服务经验专业顾问团队，拥有海量资源热情为您及时提供所需的政策信息"
						},
						{
							iconUrl: "images/company-changes-icon19.png",
							title: "服务",
							text: "一对一专属顾问真诚贴心服务，“金牌”信誉高"
						},
						{
							iconUrl: "images/company-changes-icon20.png",
							title: "价格",
							text: '价格透明关键节点考虑周全享受担保服务，公信力强'
						},
						{
							iconUrl: "images/company-changes-icon21.png",
							title: "售后",
							text: '后续服务完善方案实施后，对客户执行结果进行定期沟通了解'
						}
					],
					zhuxiaoData:[
						{iconUrl: "images/zhuxiao-icon5.png",title: "个体户"},
						{iconUrl: "images/zhuxiao-icon6.png",title: "分公司"},
						{iconUrl: "images/zhuxiao-icon7.png",title: "合伙制"},
						{iconUrl: "images/zhuxiao-icon8.png",title: "有限公司"},
						{iconUrl: "images/zhuxiao-icon9.png",title: "简易注销"},
						{iconUrl: "images/zhuxiao-icon10.png",title: "非正常解除"}
					],
					problemData:[{},{},{},{},{},{}]
				}
			},
			created: function() {
				var self = this;
				window.base.bus.$emit('to_contentTwo', {
					paginate: self.paginate
				});
				self.getMainData();
			},
			methods: {
				getMainData: function(id) {
					var self = this;
					var postData = {};
					//postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = {
						thirdapp_id: 2
					};
					var callback = function(res) {
						console.log('getMainData', res);
						self.qaData.push.apply(self.qaData, res.info.data)
					};
					console.log('self.qaData', self.qaData)
					window.base.labelGet(postData, callback);
				}

			}
		});
	</script>
	<script type="text/javascript">
		$('.logoutBox1 .cont .LL').waypoint(function() {
			$(".logoutBox1 .cont .LL").addClass('animated fadeInLeft');
			$(".logoutBox1 .cont .LL").css('opacity','1');
		}, { offset: '70%' });
		$('.logoutBox1 .cont .RR').waypoint(function() {
			$(".logoutBox1 .cont .RR").addClass('animated fadeInRight');
			$(".logoutBox1 .cont .RR").css('opacity','1');
		}, { offset: '70%' });
		
		$('.logoutBox2 .item').css('opacity','0');
		$('.logoutBox2 .item').waypoint(function() {
			$(".logoutBox2 .item").each(function(k) {
				var el = $(this);
				setTimeout(function() {
					el.addClass('animated flipInX');
					el.css('opacity','1');
				}, k * 100, 'easeInOutExpo');
			});
		},{offset: '75%' });
		
		$('.logoutBox3 .item').css('opacity','0');
		$('.logoutBox3 .item').waypoint(function() {
			$(".logoutBox3 .item").each(function(k) {
				var el = $(this);
				setTimeout(function() {
					el.addClass('animated fadeInLeft');
					el.css('opacity','1');
				}, k * 100, 'easeInOutExpo');
			});
		},{offset: '75%' });
		
		$('.logoutBox4 li').css('opacity','0');
		$('.logoutBox4 li').waypoint(function() {
			$(".logoutBox4 li").each(function(k) {
				var el = $(this);
				setTimeout(function() {
					el.addClass('animated fadeInRight');
					el.css('opacity','1');
				}, k * 100, 'easeInOutExpo');
			});
		},{offset: '75%' });
		
		$('.logoutBox5 li').waypoint(function() {
			$(".logoutBox5 li").addClass('animated flipInY');
			$(".logoutBox5 li").css('opacity','1');
		}, { offset: '70%' });
		
		
		$('.logoutBox6 .item').css('opacity','0');
		$('.logoutBox6 .item').waypoint(function() {
			$(".logoutBox6 .item").each(function(k) {
				var el = $(this);
				setTimeout(function() {
					el.addClass('animated fadeInDown');
					el.css('opacity','1');
				}, k * 100, 'easeInOutExpo');
			});
		},{offset: '75%' });
	</script>
</html>
